<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <div>Email:</div>
  <div><%= f.text_field :email %></div>
  
  <div>Password:</div>
  <div><%= f.password_field :password %></div>

  <div>Password Confirmation:</div>
  <div><%= f.password_field :password_confirmation %></div>

  <div class="submit-btn"><%= f.submit "Submit" %></div>

<% end %>